
*.xml
*.iml
Day 34 - GUIQuizApp/__pycache__/data.cpython-39.pyc
Day 34 - GUIQuizApp/__pycache__/question_model.cpython-39.pyc
Day 34 - GUIQuizApp/__pycache__/quiz_brain.cpython-39.pyc
Day 34 - GUIQuizApp/__pycache__/ui.cpython-39.pyc
